fastapi
uvicorn[standard]
psycopg2-binary
sqlalchemy
passlib
python-jose
email-validator
langchain
langchain-community
langchain-huggingface
langchain-ollama
transformers
sentence-transformers
torch
pypdf
faiss-cpu
pandas
numpy
bert-score
